/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background: url('./assets/burger-friends.jpg');
  background-size: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

section {
  display: flex;
  justify-content: center;
}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

#navText {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-left: 25px;
}

#addRecipe {
  margin-right: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
  height: 30px;
}

.mainBox {
  height: 400px;
  width: 500px;
  background-color: rgba(225, 225, 225, .9);
  margin-top: 50px;
}

#box-one {
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box-two {
  margin-left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 15px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

ul {
  margin-top: 20px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 24px;
  margin-left: 50px;
  margin-bottom: 0;

}

span {
  color: red;
}

#letsCook {
  font-family: 'Roboto', sans-serif;
  margin-right: 300px;
  margin-left: 40px;
  background-color: 0fb9b1;
  border-radius: 5px;
  width: 175px;
  height: 30px;
  border: none;
}
