/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  background: url('./assets/burger-friends.jpg');
  background-size: 100%;
  margin: 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
}

form {
  margin: 0px;
  display: flex;
  align-items: center;
}

#rType {
  margin-left: 20px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

#rName {
  margin-left: 20px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

#add-new {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

#type-input {
  height: 30px;
}

#name-input {
  height: 30px;
}

#navText {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-left: 25px;
}

#addRecipe {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: rgba(225, 225, 225, .9);
  font-family: 'Roboto', sans-serif;
}

.mainBox {
  height: 400px;
  width: 500px;
  background-color: rgba(225, 225, 225, .9);
  margin-top: 50px;
}

#box-one {
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box-two {
  margin-left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  position: absolute;
}


li {
  margin: 15px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

ul {
  margin-top: 20px;
}

#left-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 24px;
  margin-left: 50px;
  margin-bottom: 0;
}

#right-box-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

span {
  color: red;
}

#letsCook {
  font-family: 'Roboto', sans-serif;
  margin-right: 300px;
  margin-left: 40px;
  background-color: 0fb9b1;
  border-radius: 5px;
  width: 175px;
  height: 30px;
  border: none;
}

.user-data {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clear {
  position: absolute;
  right: 20;
  bottom: 20;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #95a5a6;
  color: white;
}

.recipe-suggestion {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.hidden {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0fb9b1;
  width: 60px;
  height: 60px;
  animation: spin 2s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
   }
  100% {
    transform: rotate(360deg);
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

#overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
}
